* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #262636;
    --secondary-color: #3d3d4c;
    --accent-color: #947eeb;
}

html,
body {
    background-color: var(--primary-color);
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
}

.top-bar {
    height: max-content;
    padding: 10px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: var(--accent-color);
}

.icon {
    color: var(--accent-color);
    font-size: xx-large;
    text-shadow: 2px 2px var(--secondary-color);
}

.dashboard-link {
    text-decoration: none;
    padding: 10px 10px;
    background-color: #3d3d4c;
    color: white;

    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.shop-information {
    background-color: var(--secondary-color);
    width: 40vw;
    max-width: 40vw;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.info-box {
    width: 100%;
    margin-top: 10px;
}

.info-box h2 {
    text-decoration: underline;
}

.chategories {
    width: max-content;
    margin: auto;
    color: #e7e7e7;
}

.chategory {
    margin-top: 40px;
    margin-bottom: 15px;

    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.chategory-info {
    min-width: 40vw;
    display: flex;
    justify-content: space-between;
}

.service-information 
{
    margin-bottom: 10px;
}

.service {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.service h3 {
    margin-top: 10px;
}

.booking-box {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.booking-box h3 {
    margin: 0;
}

.booking-input {
    background-color: var(--secondary-color);
    color: #e7e7e7;

    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px;

    width: 24vw;
    height: 40px;

    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    text-align: center;
}

.review {
    outline: none;
    color: white;
    text-decoration: underline;
}


.booking-button {
    width: max-content;
    background-color: var(--accent-color);
    color: white;

    border: none;
    outline: none;

    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}

select {
    border: none;
    outline: none;
    width: max-content;
    height: 100%;
    padding-left: 10px;
    border-radius: 10px;

    color: black;
    cursor: pointer;

    border: 1px solid var(--primary-color);
    margin: auto;
    margin-top: 20px;
}
