* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #262636;
  --secondary-color: #3d3d4c;
  --accent-color: #947eeb;
}

html,
body {
  background-color: var(--primary-color);
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

.top-bar {
  height: max-content;
  padding: 10px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: var(--accent-color);
}
.icon {
  color: var(--accent-color);
  font-size: xx-large;
  text-shadow: 2px 2px var(--secondary-color);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e7e7e7;
  margin-bottom: 10px;
}

.left-container {
  position: absolute;
  top: 10vh;
  bottom: 0;
  height: 90vh;
  left: 0;
  width: 90px;
  width: 280px;
  background: var(--secondary-color);
  overflow: hidden;
  transition: 1s;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 100;
}

.left-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.move-another-page a
{
  color: #e7e7e7;
  padding: 5px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.move-another-page
{
  margin-top: 30px;
}

.profile-info {
  width: 280px;
  height: max-content;
  display: flex;
  align-items: center;
  padding: 20px;
}
.profile-info img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-info p {
  font-weight: bold;
  font-size: 18px;
  color: white;
}



.logout {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);
  width: max-content;
  margin: auto;
  font-size: 16px;
  color: #e7e7e7;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.logout:hover {
  background-color: var(--primary-color);
  border-radius: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  background-color: blacku;
}
.search-container input {
  background-color: var(--secondary-color);
  color: #e7e7e7;

  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px;

  width: 24vw;
  height: 40px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.search-button {
  background-color: var(--accent-color);
  color: white;

  border: none;
  outline: none;

  padding: 10px;
  border-radius: 10px;

  cursor: pointer;
}

.container {
  max-height: 85vh;
  overflow-y: scroll;
  height: max-content;
  padding: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.shop
{
    margin: auto;
    margin-top: 20px;
    width: 26vw;
    padding: 30px;
    background-color: var(--secondary-color);
    color: #e7e7e7;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prompt 
{
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 25px;
}
.prompt span 
{
    font-weight: normal;
    font-size: 22px;
}
.view {
  text-decoration: none;
  padding: 6px;
  border-radius: 10px;
  background-color: var(--accent-color);
  color: white;
}
